<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="https://i.pinimg.com/originals/77/0b/80/770b805d5c99c7931366c2e84e88f251.png">
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Meshal Khaled. it uses data from maobox.com and darksky.net</p>
    <img class="portrait" src="https://hips.hearstapps.com/hmg-prod/images/close-up-of-cat-wearing-sunglasses-while-sitting-royalty-free-image-1571755145.jpg" alt="" />
    </div>

    {{>footer}}
  </body>
</html>