<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" href="https://i.pinimg.com/originals/77/0b/80/770b805d5c99c7931366c2e84e88f251.png">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}

    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad deleniti
      nesciunt minima consequatur, perspiciatis a nam quos rem temporibus
      laudantium nemo laborum rerum excepturi delectus repellendus dolorum eum
      sed error.</p>
    </div>


    {{>footer}}  
  </body>
</html>