<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
        <link rel="icon" href="https://i.pinimg.com/originals/77/0b/80/770b805d5c99c7931366c2e84e88f251.png">
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique tempore cupiditate distinctio non, magni tempora maxime, minima neque sapiente laudantium autem saepe nesciunt ducimus pariatur dolorem. Ducimus necessitatibus distinctio libero.</p>
    <form>
      <input placeholder="Location">
      <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>

    </div>

    {{>footer}}

    <script src="/js/index.js"></script>
  </body>
</html>